@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.eot"); /* IE9 Compat Modes */
  src:
  url("/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
  /* IE6-IE8 */ url("/fonts/Poppins-Regular.ttf") format("truetype"),
  /* Safari, Android, iOS */ url("/fonts/Poppins-Regular.svg#Poppins")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Add other weights as needed */

/* @import url("https://use.typekit.net/uoi7ptf.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

html,
body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  .container {
    padding: 0px 24px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    /* padding: 0px 15px; */
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    /* padding: 0px 20px; */
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.paragraph-content {
  @apply text-grey00BF text-[18px] leading-[32px];
}
button {
  @apply cursor-pointer;
}
.btn-hover{
  @apply hover:bg-secondary text-white;
  
}
.btn-gradient {
  @apply bg-[linear-gradient(to_right,_#083D78_30%,_#008889_100%)] hover:bg-secondary hover:bg-none font-semibold !text-white py-2 px-4 rounded;
}
.btn-sm {
  @apply text-[18px] md:text-xs font-semibold md:text-[15px] leading-[24px] h-[50px] md:h-[35px] w-full sm:w-auto md:w-auto py-1 px-2 md:px-8;
}
.btn-action {
  @apply text-xs md:text-[15px] leading-[24px] h-[26px] md:h-9 py-1 px-4 md:px-8;
}
.btn-md {
  @apply text-base leading-[24px] h-[50px] py-2 px-8 w-full md:w-[250px];
}
.btn-normal {
  @apply border border-primary rounded-normal text-bluePrimary text-sm md:text-lg leading-[24px] p-3 h-[50px];
}
.btn-social {
  @apply w-7 h-7 flex-center text-white rounded-normal border border-white bg-[#84D0D2];
}

.flex-center {
  @apply flex items-center justify-center;
}
.countlist {
  @apply flex-auto md:flex-1 text-center w-[calc(50%-20px)] md:w-auto;
}
.countlist-h3 {
  @apply text-[65px] leading-[60px] pb-6 text-primary;
}
.countlist-h4 {
  @apply text-[30px] leading-[45px] text-primary;
}
.countlist-p {
  @apply text-[20px] leading-[24px] text-bluePrimary;
}
.countlist-p1 {
  @apply text-[12px] leading-[17px] text-grey3d;
}
.btn-outline-secondary {
  @apply border border-secondary text-secondary hover:text-white hover:bg-secondary;
}
.btn-outline-ternery {
  @apply border border-primary text-bluePrimary hover:text-white hover:bg-primary;
}
.btn-outline-primary {
  @apply border border-primary text-primary;
}
.btn-link-primary {
  @apply text-primary hover:text-secondary;
}
.btn-link-secondary {
  @apply text-secondary hover:text-primary;
}
.input-style {
  @apply border border-inputBorder placeholder-bluePrimary text-bluePrimary text-lg leading-[24px] rounded-normal h-[50px] py-3 px-4 outline-0;
}
.input-style2 {
  @apply border border-inputBorder placeholder-[#083d7880] text-[#083d7880] text-lg leading-[24px] rounded-normal h-[50px] py-3 px-4 outline-0;
}
.image-responsive {
  @apply w-full h-auto object-cover;
}
.filter-select {
  @apply border border-inputBorder h-[30px] w-full rounded-normal text-bluePrimary text-xs flex items-center outline-none px-1.5 font-medium cursor-pointer;
}
.filter-input {
  @apply border border-inputBorder h-[40px] w-full rounded-normal text-bluePrimaryLite text-sm flex items-center outline-none px-2.5 font-medium;
}
.btn-core {
  @apply whitespace-nowrap rounded-normal px-3 py-1.5 flex-center text-sm;
}
.list-items1 {
  @apply text-[17px] leading-[35px] font-medium flex items-center gap-1;
}

/* styles/globals.css or styles/custom.css */
.swiper-pagination-bullet {
  background-color: rgba(132, 208, 210, 1);
  opacity: 1; /* Override Swiper default */
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 1);
}
.swiper-pagination {
  justify-content: flex-start;
  display: flex;
  bottom: 0px !important;
}

.featured-blog-slider .swiper-initialized {
  min-height: auto;
}
@media screen and (max-width: 767px) {
  .swiper-parent {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .swiper-parent h3 {
    position: relative;
    top: 10px;
  }
  .featured-blog-slider .swiper-initialized {
    min-height: 290px;
  }
}

/* Landing Page */
.bg-custom-gradient {
  background-image: linear-gradient(to right, #083d78 30%, #008889 100%);
}
.bg-landing-banner {
  background-image: url("./../public/media/landing-banner.png");
}
.bg-landing-banner-mobile {
  background-image: url("./../public/media/landing-banner-mobile.png");
}
.bg-half-star-slider {
  background-image: url("./../public/media/half-star-art.png");
}
/* Services Page */
.bg-services-banner {
  background-image: url("./../public/media/services-banner.png");
}
.bg-services-banner-mobile {
  background-image: url("./../public/media/services-banner-mobile.png");
}
.bg-about-landing-banner-mobile {
  background-image: url("./../public/media/about-banner-mobile.png");
}
.bg-about-landing-banner {
  background-image: url("./../public/media/about-banner.png");
}
.bg-findDoc-landing-banner {
  background-image: url("./../public/media/findDoc-banner.png");
}
.bg-findDoc-landing-banner-mobile {
  background-image: url("./../public/media/findDoc-banner-mobile.png");
}
.bg-services-landing-banner {
  background-image: url("./../public/media/services-banner.png");
}
.bg-services-landing-banner-mobile {
  background-image: url("./../public/media/services-banner-mobile.png");
}
.bg-single-landing-banner {
  background-image: url("./../public/media/single-page-banner.png");
}
.bg-single-landing-banner-mobile {
  background-image: url("./../public/media/single-page-banner.png");
}
.bg-arc-design {
  background-image: url("./../public/media/arc-design.png");
}
.bg-arc2 {
  background-image: url("./../public/media/banner2-mobile.jpg");
}
.bg-contact-landing-banner {
  background-image: url("./../public/media/contact-us-banner.png");
}
.bg-resources-landing-banner {
  background-image: url("./../public/media/resources-banner.png");
}
.bg-clinics-landing-banner {
  background-image: url("./../public/media/clinics-banner.png");
}
.bg-clinics-landing-banner-mobile {
  background-image: url("./../public/media/clinics-banner.png");
}
.bg-landing-common-banner {
  background-image: url("./../public/media/banner-3.png");
}
.bg-landing-common-banner-mobile {
  background-image: url("./../public/media/banner-3.png");
}

/* Custom Shadows */
.box-shadow-custom2 {
  box-shadow: 0px 2px 4px 0px rgb(61 61 61 / 15%);
}
.box-shadow-custom4 {
  box-shadow: 0px 2px 4px 0px #3d3d3d;
}
.box-shadow-custom3 {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
}
.box-shadow-custom5 {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.box-shadow-dark {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

/* Custom Paginagtion design */
.pagination-li {
  @apply border border-primary cursor-pointer w-[35px] h-[35px] rounded-[4px] flex-center text-primary text-[15px] font-semibold;
}
.pagination-li.active {
  @apply text-secondary border-secondary;
}
.pag-action {
  @apply w-auto px-5 py-2 font-normal text-secondary border-secondary flex-center gap-1;
}
.about-slider-algo .swiper-pagination {
  display: flex;
  justify-content: center;
}
.about-slider-algo .swiper-wrapper {
  @apply pb-[90px];
}
.swiper-pagination-bullet-active {
  @apply bg-primary;
}
.testimonials-block {
  display: flex;
  justify-content: center;
}
.testimonials-block .swiper-wrapper {
  padding-bottom: 80px;
  padding-top: 46px;
}
.testimonials-block .swiper-pagination {
  display: flex;
  justify-content: center;
}
.normal-content {
  @apply text-base !leading-[32px] text-grey3d;
}
.filter-result-box {
  @apply max-h-[280px] overflow-auto;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px;
}
.swiper-button-prev,
.swiper-button-next {
  bottom: 12px;
  top: auto;
  height: 27px;
  z-index: 999;
  color: #008889;
}
.swiper-button-prev {
  left: 0px;
}
.swiper-button-next {
  right: 0px;
}
.slider-dot-area .swiper-pagination {
  @apply py-[20px] border-t border-b border-lightPrimary;
}
.testimonials-block .swiper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./../public/icons/quote-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  width: 70px;
  height: 70px;
  z-index: 2;
}
.testimonials-block .swiper::after {
  content: "";
  position: absolute;
  bottom: 70px;
  right: 0;
  background-image: url("./../public/icons/quote-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  width: 70px;
  height: 70px;
  z-index: 2;
}
.testimonials-block .swiper-wrapper {
  height: 210px;
}
.section-content p:last-child {
  padding-bottom: 0px;
}

/* Typograpgy */
.template-wrapper h1 {
  @apply text-[40px] leading-[60px];
}
.template-wrapper h2 {
  @apply text-[26px] leading-[36px] text-primary pb-4;
}
.template-wrapper h3 {
  @apply text-[22px] leading-[32px] text-bluePrimary pb-3;
}
.template-wrapper p {
  @apply pb-6 text-grey00BF text-lg !leading-[32px] break-words;
}
.template-wrapper ul {
  @apply pl-5 pb-6;
}
.template-wrapper ul li {
  @apply text-grey3d text-lg leading-[32px] w-full list-disc list-outside;
}
.template-wrapper ol {
  @apply pl-5 pb-6;
}
.template-wrapper ol li {
  @apply text-grey3d text-lg leading-[32px] w-full list-decimal list-outside;
}
.template-wrapper a {
  @apply text-lg leading-[32px] text-secondary hover:text-bluePrimary;
}
.primary-menu:hover svg {
  stroke: #c75327;
}
.btn-filter {
  @apply hover:text-white hover:bg-primary;
}
.btn-filter:hover svg path {
  stroke: #fff;
}
/* .primary-menu:hover+ ul{
  display: block;
} */
.content-dynamic p:first-child {
  padding-bottom: auto;
}
.content-dynamic p:last-child {
  padding-bottom: 0px;
}

@media (min-width: 1024px) {
  .lg\:dynamic-grid {
    grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr)) !important;
  }
}

/* Content Area */
.content-typography h2 {
  @apply text-[26px] leading-[36px] text-primary pb-4 font-medium;
}
.content-typography p {
  @apply pb-6 text-grey3d text-lg !leading-[32px];
}
.wrap-list ul {
  display: flex;
  flex-wrap: wrap;
  max-height: none;
  gap: 20px;
}
@media (max-width: 1024px) {
  .wrap-list ul {
    flex-direction: column;
  }
}
.wrap-list ul li {
  width: calc(50% - 20px);
}
.featured-blog-slider .swiper-pagination {
  top: 80%;
}

@media screen and (max-width: 767px) {
  .countlist-h4 {
    text-align: center;
  }
  .countlist-p1 {
    text-align: center;
  }
  .featured-blog-slider .swiper-pagination {
    top: 95%;
  }
}
